*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; 
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body {
  color: black;
  font-family: gothambook-webfont !important;
}
a:hover, a:focus {
    text-decoration: none;
}
/* tIPOGRAFIA*/
@font-face {
  font-family: gothambold-webfont;
  src: url(../fonts/gothambold-webfont.woff);
}
@font-face {
  font-family: gothambook-webfont;
  src:url(../fonts/gothambook-webfont.woff);
}

 /* UTILITIES */

.margTopNone {
  margin-top: 1% !important;
}

/* SECTION HOME*/ /* bARRA DE NAVEGACION */
.home {
  width: 100%;
  background-image: url(../img/AMIL_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  height: 100%;
  .barra_nav{
    background-color: white;
    height: 112px !important;
    nav {
      height: 112px !important;
      width: 100%;
      font-family: gothambold-webfont;
      a{
        font-family: gothambold-webfont;
      }
    }
    .titulo_nav {
      text-align: center;
      font-size: 35px;
      color: gainsboro;
      margin-top: -39px;
      p{
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
        font-size: 35px;
        padding-left: 17%;
      }
    }
    .logo{
      float: right;
      padding-top: 21px;
      padding-right: 2%;
    }
    ul>li {
      font-size: 16px;
        a {
          color: white;
          font-family: gothambold-webfont;
        &:hover {
          direction:rtl;
          unicode-bidi: bidi-override;
          text-decoration: none;
          transition: 2s;
        }
      }
    }
  }
  .grid{
    padding-right: 30%;
    padding-top: calc(100% - 80%);
  }
}
.text {
  border: 3px solid white;
  margin: 12px;
  padding: 12px;
  color: white;
  font-family: gothambold-webfont;
  &:hover {
    opacity: 0.5;
    cursor:pointer
  }
}


/* MENU */
.menubar-responsive {
  display: inline-block;
  height: 9%;
}
.menubar {
  display: none;
}
#menu, .sub-menu {
  position: fixed;
  display: none;
  list-style: none;
  background-color: #A7A9AC;
  z-index: 10000;
  min-width: 134px;
  width: 15%;
  margin-left: 3%;
  padding-left: 12px;
  padding: 12px;
}

.tb-menu-toggle {
  border: 0;
  position: relative;
  cursor: pointer;
  width: 37px !important;
  display: inline-block;
  margin-left: 2%;
  z-index: 9999999999999999999999999999999;
  i{
    background-color:black !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    -webkit-transition:all .2s;
     -moz-transition:all .2s;
       -o-transition:all .2s;
          transition:all .2s;
  }
}

.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
  top: 40%;
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
} 
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
  top: 40%;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

/* TABS MENU */ 

$num-of-tabs: 4;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
      position: relative;
    top: -93px;
}
label {
  margin-left: 10% !important;
  margin-bottom: 0px !important;
  color: #CECECE;
  font-size: 10px;
  font-family: gothambold-webfont;
}
input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  &:checked {
    + .tab-label-content {
      label {
        color: black;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

.tab-label-content {
  width: 100%;
  .tab-content {
    position: absolute;
    top: 100px;
    display: none;
  }
}
/* SECTION SPACE*/

.space {
  background-image: url(../img/AMIL_space.jpg) !important;
  height: 100%;
  .text_space {
    color: white;
    font-size: 30px;
    padding-top: 5%;
    font-family: gothambold-webfont !important;
    line-height: 1.1;
  }
}

/* SECTION EXHIBITIONS */

.exhibitions {
  background-color: white !important;
  background-image: none !important;
    img{
      width: 100%;
    }
  .text_exhibitions {
    padding: 15px;
    padding-left: 0px;
    line-height: 15px;
  }
  .titulo_exhibitions{
    font-weight: bold;
    font-family: gothambold-webfont !important;
  }
}

.carousel-caption{
  top: 0px;
  left: 0px !important;
  text-align: left !important;
  font-size: 32px;
  font-weight: bold;
  padding-left: 5%;
  font-family: gothambold-webfont !important;
}
.carousel-control {
  background-color: transparent !important;
  background-image: none !important;
}
.marg_bott_8 {
  margin-bottom: -8px;
}


/*  RESPONSIVE */

@media screen and (max-width: 1201px){
  .home .barra_nav {
    background-color: white;
    height: 16%;
    position: fixed;
    width: 100%;
    z-index: 9999999999999999999999;
    ul > li {
    text-align: center;
    font-size: 30px;
    }
  }
  #menu, .sub-menu {
      display: none;
      list-style: none;
      background-color: rgba(167, 169, 172, 0.87);
      z-index: 9999999;
      color: #fff;
      position: fixed;
      left: 0;
      height: 100vh;
      width: 100vw;
      top: 16%;
      margin-left: 0px;
  }
}

@media screen and (max-width: 320px) and (min-width: 257px){
  .grid {
    padding-right: 0px!important;
    padding-top: calc(100% - 60%)!important;
  }
}
@media screen and (max-width: 570px) and (min-width: 320px){
  .grid {
    padding-right: 0px !important;
    padding-top: calc(100% - 70%)!important;
  }
}
@media screen and (max-width: 991px) and (min-width: 571px){
  .grid {
    padding-right: 0px !important;
    padding-top: calc(100% - 85%) !important;
  }
}
@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}
/*  VIDEO */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.video_link{
  position: absolute;
  height: 100%;
  width: 100%;
}

/* CONTACT */
.contact {
  background-image: url(../img/AMIL_contact.jpg) !important;
  height: 100%;
  .grid {
    padding-right: 0px;
    padding-top: calc(100% - 75%);
    .text {
      min-height: 14%;
      font-family: gothambold-webfont;
      font-size: 16px;
    }
  }
}


.carousel-control > .glyphicon-chevron-right, .carousel-control > .icon-next {
  margin-right: -25px !important;
}
.lineHeight {
      line-height: 15px;
}

/* LEE MAS */

.more {
  display: none;
  .no-js & {
    display: block;
  }
}
.active { 
  display: block;
}
.no-js .read-more {
  display: none;
}
.leer_mas {
    padding-bottom: 15px;
    margin-top: -16px;
}
.margTop23 {
  margin-top: -23px;
}

/* container 2 */
.container_2 {
      padding-right: 10%;
    padding-left: 10%;
}

.arrow {
    width: 20px !important;
    height: 30px;
    margin-top: 207px;
    z-index: 5;
    display: inline-block;
}
a {
    color: black;
    text-decoration: none;
}
.padd_top7 {
  padding-top: 7px !important;
}